@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
  max-width: 327px;
  margin-inline: auto;
}

.header h1,
.nav-hamburger a {
  transition: color 0.3s ease;
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}

.hamburger-menu-overlay.block::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.hamburger-menu-content {
  height: 100%;
  display: grid;
  padding: 28px 24px;
  background-color: #fff;
  grid-template-rows: max-content max-content max-content 1fr max-content;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  min-height: 100vh;
  transition: transform 0.3s ease;
  z-index: 10;
  transform: translateX(100%);
}

.hamburger-menu-content.block {
  transform: translateX(0);
}

.hamburger-menu-content.block img {
  margin-inline: auto;
  margin-block: 25px;
  cursor: pointer;
}

.hamburger-menu {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;

  img {
    cursor: pointer;
  }
}

.nav-desktop {
  display: none;
}

.hamburger-icon-none {
  display: none;
}

.theme-switch {
  display: flex;
  align-items: flex-end;
}

.switch {
  appearance: none;
  background-color: #090D1F;
  height: 34px;
  width: 77px;
  display: inline-flex;
  margin-inline: 16px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4px;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

.switch:after {
  content: "";
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: transform 0.4s ease-out, opacity 0.3s linear;
}

.switch:checked:after {
  transform: translateX(180%);
}

.page-title {
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 0px;
  padding-block: 24px;
  border-top: 1px solid #667085;
  border-bottom: 1px solid #667085;
}

.home-content {
  margin-block: 30px;
}

.home-content h1 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 12px;
}

.home-content p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #667085;
}

.recent-blog-list, .blog-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-block: 32px;
}

.recent-blog h3 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: 300;
}

.blogItem {
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  img {
    border-radius: 8px;
  }
}

.blogItem-blog {
  width: 100%;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  img {
    border-radius: 8px;
    height: 500px;
    width: 100%;
  }
}

.blogItem-blog:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.blogItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.post-info {
  margin-top: 24px;
  text-align: center;

  span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    margin-bottom: 12px;
    color: #6941C6;
    font-weight: 600;
  }

  p {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #090D1F;
    margin-top: 12px;
  }
}

.blog-info {
  margin-top: 24px;

  span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    margin-bottom: 12px;
    color: #6941C6;
    font-weight: 600;
  }
  
  h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    margin-block: 12px;
    color: #090D1F;
  }

  h4 {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 300;
    margin-block: 12px;
    color: #090D1F;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #667085;
  }
}

.about-me {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-block: 32px;

  p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
  }
}

.head-btn-area {
  display: flex;
  gap: 24px;
  padding-block: 24px;
}

.addBtn, .logBtn {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding-block: 13px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.addBtn {
  background-color: #e0e2ec;
  color: #090D1F;
}

.addBtn:hover {
  background-color: #a5b4df;
  color: #1a2b5c;
  transform: translateY(-3px);
}

.logBtn {
  background-color: #fac4c7;
  color: #371a1c;
}

.logBtn:hover {
  background-color: #fa999f;
  color: #5c1e1a;
  transform: translateY(-3px);
}

.edit-blog-area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.edit-blog-area ul {
  list-style-type: none;
  padding: 0;
}

.edit-blog-area li {
  background-color: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.edit-blog-area li:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.edit-blog-area h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.edit-blog-area h4 {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
  font-style: italic;
}

.edit-btn-area {
  display: flex;
  gap: 15px;
  margin-block: 20px;
}

.editBtn, .deleteBtn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
  font-weight: 600;
}

.editBtn {
  background: linear-gradient(135deg, #cdb0f5, #ac89db);
  color: white;
}

.editBtn:hover {
  background: linear-gradient(135deg, #e2d4fb, #e1bbfb);
  transform: translateY(-2px);
}

.deleteBtn {
  background: linear-gradient(135deg, #5573f9, #8ea2fc);
  color: white;
}

.deleteBtn:hover {
  background: linear-gradient(135deg, #c3cdfa, #bac5fa);
  transform: translateY(-2px);
}

.edit-btn-area button {
  display: inline-block;
  transition: transform 0.3s;
}

.edit-blog-area li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  border-radius: 12px;
  pointer-events: none;
  z-index: -1;
}

dialog {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
  transform: translateY(-50%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

dialog[open] {
  opacity: 1;
  pointer-events: auto;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}

input::placeholder, textarea::placeholder {
  color: #888;
}

textarea {
  resize: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
  min-height: 120px;
}

dialog img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

.add-blog-btn-area {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.saveBtn {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 48%;
}

.saveBtn {
  background-color: #6941C6;
  color: #F9F5FF;
}

.saveBtn:hover {
  background-color: #cba9fd;
  color: #6941C6;
  transform: scale(1.05);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.login-dialog h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.login-dialog input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.login-dialog button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  background-color: #7683bf;
}

.delete-dialog h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #d32f2f;
}

.delete-dialog .dialog-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.delete-dialog button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deleteConfirmBtn {
  background: linear-gradient(135deg, #f44336, #e57373);
  color: white;
}

.deleteConfirmBtn:hover {
  background: linear-gradient(135deg, #d32f2f, #ef5350);
}

.closeDialogBtn {
  background: #667085;
  color: white;
}

.closeDialogBtn:hover {
  background: #4e5a6e;
}

.nav-hamburger {

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-block: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #090D1F;
  }

  a {
    text-decoration: none;
  }

}

.nav-adres {
  display: flex;
  gap: 15px;

  ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    color: #090D1F;
  }

  a {
    text-decoration: none;
  }

}

/* Tablet Start */

@media (width >= 768px) {
  .container, .nav-desktop{
    max-width: 689px;
    margin-inline: auto;
  }

  .hamburger-menu-overlay {
    display: none;
  }

  .hamburger-menu, .header-mobile h1 {
    display: none;
  }

  .header-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    justify-content: space-between;
    padding-block: 30px;

    a {
      transition: color 0.3s ease;
    }
  }

  .recent-blog-list, .blog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .theme-switch {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .blog-info {
    margin-top: 32px;
  
    span {
      font-size: 18px;
      line-height: 20px;
    }
    
    h3 {
      font-size: 26px;
      line-height: 26px;
      margin-block: 16px;
    }
  
    h4 {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 16px;
    }
  }

  .switch {
    height: 22px;
    width: 32px;
    margin-inline: 10px;
  }
  
  .switch:after {
    width: 12px;
    height: 12px;
  }

  .switch:checked:after {
    transform: translateX(90%);
}
}

/* Desktop Start */

@media (width >= 1280px) {
  .container, .nav-desktop {
    max-width: 1216px;
    margin-inline: auto;
  }

  .hamburger-menu-overlay {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  .recent-blog-list, .blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

}
